#nav {
  display: flex;
  justify-content: space-between;
  height: 70px;
  padding: 0 20px;
}
#nav input {
  height: 40px;
  width: 300px;
  border-radius: 20px;
  border: none;
  outline: none;

  box-shadow: 20px 20px 60px #0000001b, inset -20px -20px 60px #ffffff40;
}

#home {
  text-align: center;
  padding: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.grid-item {
  max-width: 200px;

  border-radius: 20px;
  padding: 10px;
  text-align: center;
  box-shadow: 20px 20px 60px #00000041, inset -20px -20px 60px #ffffff40;
  transition: transform 0.2s ease-in-out;
  transform-style: preserve-3d;
}

.grid-item:not(:hover) {
  transform: translateZ(0);
}

.grid-item:hover,
.grid-item:focus {
  border: 3px solid #76c893;
  cursor: pointer;
  transform: scale(1.05);
}

img {
  max-width: 100px;
  height: auto;
}
